@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.mobileNavlinkStyle {
  @apply uppercase hover:underline  flex gap-1 items-center  justify-center text-xl text-slate-200 font-serif  hover:cursor-pointer hover:text-gray-600;
}

.InputlabelStyle {
  @apply relative  top-[-3rem] m-2 px-1 uppercase font-bold text-xl peer-focus:translate-y-[-2.7rem] md:peer-focus:translate-y-[-3rem] peer-invalid:text-red-600 peer-invalid:font-extrabold peer-invalid:before:content-['invalid_'] text-cyan-300 md:text-slate-200 transition-all;
}
.inputStyle {
  @apply p-3 mt-[1rem]  rounded-lg focus:ring-4 focus:ring-cyan-300 md:w-[22vw];
}
.animateTime {
  animation-duration: 150ms;
  animation-iteration-count: 1;
}

.time {
  animation-duration: 150ms;
  animation-iteration-count: 2;
}

.BuyBtn_Animation {
  @apply animate-spin time;
}

.bg:hover {
  @apply BuyBtn_Animation transition-all;
}

.ViewCard_P {
  @apply text-2xl text-black font-semibold uppercase m-auto;
}
.arrow {
  @apply bg-black text-sky-700 hover:text-sky-400  absolute text-[6rem] top-[20rem] rounded-xl hover:ring-white ring-1 hover:cursor-pointer;
}

.sidebarMenue {
  @apply  relative m-0 flex flex-col transition-all duration-300 justify-start gap-3 items-center text-2xl capitalize w-full  p-3 hover:ring-1 hover:cursor-pointer hover:shadow-xl shadow-gray-300 hover:border-b-[3px] border-cyan-400 rounded-lg;
}
.sidebarMenue > div {
  @apply flex gap-2
}

.sidebarMenue .order_content {
  @apply relative top-[1rem] bg-transparent rounded-lg duration-500 transition-all bg-opacity-0 h-[0px] overflow-hidden flex  w-auto flex-col  p-1 gap-2 text-[20px] text-slate-100 capitalize list-disc list-inside ;
}
 .order_content {
  overflow: hidden;
  transition: height 1s ;
  @apply group-hover:flex group-hover:h-[20rem] group-hover:bg-cyan-400 group-hover:bg-opacity-20
}
.order_content>li{
 @apply hover:bg-cyan-200 border-0 w-auto p-3 rounded-lg m-2 hover:text-neutral-950
}

.shrinked_menue_ul{
  @apply  duration-700 border-t flex items-center justify-between border-t-cyan-400 h-0 overflow-hidden list-none transition-all flex-col m-auto w-full group-hover:bg-cyan-600 group-hover:bg-opacity-10 group-hover:h-[15rem]
}
.shrinked_menue_ul>svg{
@apply w-[4rem] p-1 hover:bg-cyan-100 hover:shadow-xl shadow-cyan-200 hover:scale-150 transition-all duration-700 hover:text-black rounded-md
}
.ex{
  transition: width 300ms ;
}